<section class="services">
    <div class="services__wrapper">
        <h1 class="title services__title">Наши услуги</h1>
        <div class="services__wrap">
            <div class="services__wrap-item">
                <h3 class="subtitle services__subtitle">Монтаж инженерных сетей</h3>
                <picture>
                    <source srcset="images/ico-ser-1.svg" type="image/webp"><img class="services__wrap-icon"
                        src="images/ico-ser-1.svg" alt="">
                </picture>
                <p>18 услуг</p>
            </div>
            <div class="services__wrap-item">
                <h3 class="subtitle services__subtitle">Проектирование</h3>
                <picture>
                    <source srcset="images/ico-ser-2.svg" type="image/webp"><img class="services__wrap-icon"
                        src="images/ico-ser-2.svg" alt="">
                </picture>
                <p>9 услуг</p>
            </div>
            <div class="services__wrap-item">
                <h3 class="subtitle services__subtitle">Ремонт офисов</h3>
                <picture>
                    <source srcset="images/ico-ser-3.svg" type="image/webp"><img class="services__wrap-icon"
                        src="images/ico-ser-3.svg" alt="">
                </picture>
                <p>3 услуг</p>
            </div>
            <div class="services__wrap-item">
                <h3 class="subtitle services__subtitle">IT-консалтинг</h3>
                <picture>
                    <source srcset="images/ico-ser-4.svg" type="image/webp"><img class="services__wrap-icon"
                        src="images/ico-ser-4.svg" alt="">
                </picture>
                <p>3 услуг</p>
            </div>
            <div class="services__wrap-item">
                <h3 class="subtitle services__subtitle">Поставка офисной техники и оборудования</h3>
                <picture>
                    <source srcset="images/ico-ser-5.svg" type="image/webp"><img class="services__wrap-icon"
                        src="images/ico-ser-5.svg" alt="">
                </picture>
            </div>
            <div class="services__wrap-item-contact">
                <h3 class="subtitle services__subtitle">Хотите <span>узнать стоимость , получить консультацию</span> или
                    <span>помощь</span> в выборе услуг?
                </h3> <button class="services__wrap-item-btn">Написать
                    нам</button>
            </div>
        </div>
    </div>
</section>