<header class="page-header">
  <div class="container">
    <div class="page-header__wrapper">
      <picture>
        <source srcset="images/logo.svg" type="image/webp"><img class="page-header__logo" src="images/logo.svg"
          alt="logo">
      </picture>
      <nav class="page-header__nav">
        <ul class="page-header__nav-items">
          <li class="page-header__nav-item"><a class="page-header__nav-link" href="#">О компании</a></li>
          <li class="page-header__nav-item"><a class="page-header__nav-link" href="#">Услуги</a></li>
          <li class="page-header__nav-item"><a class="page-header__nav-link" href="#">Проекты</a></li>
          <li class="page-header__nav-item"><a class="page-header__nav-link" href="#">Наши заказчики </a></li>
          <li class="page-header__nav-item"><a class="page-header__nav-link" href="#">Поставщики</a></li>
          <li class="page-header__nav-item"><a class="page-header__nav-link" href="#">Контакты</a></li>
        </ul>
      </nav>
      <div class="page-header__contacts-blog"> <a href="tel:+74955857496"> +7 495 585 74 96</a><a
          href="mailto:info@link-tech.ru">info@link-tech.ru</a></div><a class="page-header__mail-icon"
        href="mailto:info@link-tech.ru">
        <picture>
          <source srcset="images/mail.svg" type="image/webp"><img src="images/mail.svg" alt="mail">
        </picture>
      </a>
    </div>
  </div>
</header>
<section class="subheader">
  <div class="subheader__wrapper">
    <h1 class="title subheader__title">IT-консалтинг</h1>
    <ul class="subheader__nav-items">
      <li class="subheader__nav-item"> Разработка IT-системы предприятия</li>
      <li class="subheader__nav-item"> Аудит ресурсов</li>
      <li class="subheader__nav-item"> Консультация по использлванию IT</li>
      <li class="subheader__nav-item"> Консультации по информационной безопасности</li>
    </ul>
    <div class="subheader__progressbar">
      <div class="progressbar__progress-num"> <span>2</span><span>/ 4</span></div>
      <div class="progressbar__progress-line"> </div>
      <div class="progressbar__progress-switch">
        <picture>
          <source srcset="images/arrow-cir-l.svg" type="image/webp"><img src="images/arrow-cir-l.svg"
            alt="arrow-cir-left">
        </picture><img src="images/arrow-cir-r.svg" alt="arrow-cir-right">
      </div>
    </div>
  </div>
</section>